#loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0b25;
  width: 100vw;
  height: 100vh;
}
/* From Uiverse.io by aadium */
.loader {
  overflow: hidden;
  position: relative;
}

.wheel {
  fill: #fff;
  font-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 6em;
  text-align: center;
  animation: rolling 1s linear infinite;
}

#rim {
  fill: #fff;
}

#tire {
  fill: #fff;
}

@keyframes rolling {
  to {
    transform: rotate(-360deg);
  }
}
